<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
  <add name="conStr" 
       connectionString="Data Source=DESKTOP-FE958PA;Initial Catalog=lotto;Persist Security Info=True;User ID=northwind_jsu;Password=1234"/>
  
</connectionStrings>
  <appSettings>
    <add key ="url1" value = "http://www.nlotto.co.kr/gameResult.do?method=byWin"/>  
  </appSettings>
</configuration>